<%- include("template/cabecera", {tituloWeb: "PC"}) %>
<script src="https://www.paypal.com/sdk/js?client-id=test&currency=EUR"></script>
<div class="col-30 col-md-15 pt-5">
    <div class="item shadow mb-4">
        <h3 class="item-title text-white">Genshin Impact</h3>
        <img class="item-image vh-100 vw-100" src="/img/celular/5.jpg">
        <p class="text-white px-5 pt-5">Es un juego de acción ARPG de mundo abierto free-to-play con 
            una mecánica de monetización de Gacha para conseguir elementos 
            adicionales como personajes especiales y armas. Es el tercer 
            videojuego desarrollado por miHoYo, tras Gun GirlZ y Honkai 
            Impact 3rd.</p>
        <div class="item-details d-flex bd-highlight">
            <h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
            <button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
        </div>
    </div>
</div>

<div class="col-30 col-md-15">
    <div class="item shadow mb-4">
        <h3 class="item-title text-white">Ejemplo 2</h3>
        <img class="item-image vh-100 vw-100" src="/img/celular/6.jpg">
        <p class="text-white px-5 pt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui vitae numquam cumque magni nesciunt, dolorum illum porro adipisci itaque praesentium ipsum ut saepe assumenda ipsam aliquam, totam deserunt. Qui, accusantium!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, totam, autem officiis, perferendis quae sed amet ipsa molestias dolorem esse maxime ex modi delectus. Nesciunt atque ad, itaque accusantium vitae!</p>
        <div class="item-details d-flex bd-highlight">
            <h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
            <button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
        </div>
    </div>
</div>

<div class="col-30 col-md-15">
    <div class="item shadow mb-4">
        <h3 class="item-title text-white">Darkennes Rise</h3>
        <img class="item-image vh-100 vw-100" src="/img/celular/7.jpg">
        <p class="text-white px-5 pt-5">La única sobreviviente de una brutal masacre familiar 
            debe volver a visitar su hogar de la infancia en vísperas 
            de su destrucción y enfrentar su pasado, así como un mal mortal.</p>
        <div class="item-details d-flex bd-highlight">
            <h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
            <button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
        </div>
    </div>
</div>

<div class="col-30 col-md-15">
    <div class="item shadow mb-4">
        <h3 class="item-title text-white">Asphalt 9: Legends</h3>
        <img class="item-image vh-100 vw-100" src="./img/celular/8.jpg">
        <p class="text-white px-5 pt-5">Es un videojuego de conducción gratuitos con micropagos 
            basados en nuevos vehículos y bonificaciones, entre otras 
            cosas. La versión de Switch tiene online para ocho jugadores, 
            varias opciones de control (incluida una que solo usa la pantalla 
            táctil), una "robusta" campaña para un jugador y casi 60 vehículos 
            licenciados como el Bugatti Chiron, el McLaren P1 y el Lamborghini 
            Terzo Millennio.</p>
        <div class="item-details d-flex bd-highlight">
            <h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
            <button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
        </div>
    </div>
</div>

<div class="col-30 col-md-15">
    <div class="item shadow mb-4">
        <h3 class="item-title text-white">League of legends</h3>
        <img class="item-image vh-100 vw-100" src="/img/celular/L.jpg">
        <p class="text-white px-5 pt-5">El juego consta de 3 modos actuales de juego en ejecución: La Grieta
            del Invocador, El Abismo de los Lamentos y Teamfight Tactics. Los 
            jugadores compiten en partidas, que duran entre 15 y 50 minutos en 
            promedio. En cada modo de juego, los equipos trabajan juntos para 
            lograr una condición de victoria, normalmente destruyendo la estructura
             central (llamado Nexo) en la base del equipo enemigo.</p>
        <div class="item-details d-flex bd-highlight">
            <h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
            <button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
        </div>
    </div>
</div>

<div class="col-30 col-md-15">
    <div class="item shadow mb-4">
        <h3 class="item-title text-white">Legends of Runeterra</h3>
        <img class="item-image vh-100 vw-100" src="/img/celular/legends.jpg">
        <p class="text-white px-5 pt-5">Legends of Runeterra se juega 1v1. Cada jugador comienza la partida
            con una mano de cuatro cartas seleccionadas al azar de su mazo de 
            cartas, un nexo de 20 puntos de vida y cero maná. Antes de que comience 
            la partida, cada jugador también tiene la opción de intercambiar cualquiera 
            de las primeras cuatro cartas que robaron por cartas diferentes al azar de su mazo.<br>
            Plataformas: Microsoft Windows · iOS · Android</p>
        <div class="item-details d-flex bd-highlight">
            <h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
            <button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
        </div>
    </div>
</div>

<%- include("template/carrito") %>

<%- include("template/footer") %>