<%- include("template/cabecera", {tituloWeb: "Index"}) %>

    <h1 class="text-primary text-center pt-5">Bienvenido a GamerCenter</h1>
    <h5 class="text-white text-center"><%= titulo %></h5>

    <video src="/img/fondo25.mp4" autoplay loop muted class="vh-100 w-100"></video>
<%- include("template/footer") %>