<%- include("template/cabecera", {tituloWeb: "PC"}) %>
<script src="https://www.paypal.com/sdk/js?client-id=test&currency=EUR"></script>
<div class="col-30 col-md-15 pt-5">
	<div class="item shadow mb-4">
		<h3 class="item-title text-white">Cyberpunk 2077</h3>
		<img class="item-image vh-100 vw-100" src="/img/pc/1.jpg">
		<p class="text-white px-5 pt-5">Es una historia de acción y aventura en mundo
			abierto ambientada en Night City,
			una megalópolis obsesionada con el poder, el glamur y la modificación corporal.
			Tu personaje es V, un mercenario que persigue un implante único que permite alcanzar 
			la inmortalidad.</p>
		<div class="item-details d-flex bd-highlight">
			<h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
			<button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
		</div>
	</div>
</div>
<div class="col-30 col-md-15">
	<div class="item shadow mb-4">
		<h3 class="item-title text-white">Resident Evil Village</h3>
		<img class="item-image vh-100 vw-100" src="/img/pc/2.jpg">
		<p class="text-white px-5 pt-5">Tiene como objetivo crear una innovadora experiencia de survival horror
			como nunca antes. Años después de la pesadilla, Ethan Winters ha conseguido
			cierta estabilidad y una vida normal con su familia. Una vida que no tardará 
			en ser destruida por un héroe de antaño, Chris Redfield.</p>
		<div class="item-details d-flex bd-highlight">
			<h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
			<button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
		</div>
	</div>
</div>
<div class="col-30 col-md-15">
	<div class="item shadow mb-4">
		<h3 class="item-title text-white">Little Nightmares 2</h3>
		<img class="item-image vh-100 vw-100" src="/img/pc/3.jpg">
		<p class="text-white px-5 pt-5">En Little Nightmares 2 asumiremos el control de Mono,
			un pequeño que trata de sobrevivir en un mundo de pesadilla,
			donde hasta lo más cotidiano podrá sumergirnos en un estado de
			terror o angustia en cualquier momento.</p>
		<div class="item-details d-flex bd-highlight">
			<h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
			<button class="item-button btn btn-primary addToCart mx-5 p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
		</div>
	</div>
</div>
<div class="col-30 col-md-15">
	<div class="item shadow mb-4">
		<h3 class="item-title text-white">Call of Duty Modern Warfare</h3>
		<img class="item-image vh-100 vw-100" src="/img/pc/4.jpg">
		<p class="text-white px-5 pt-5">El modo multijugador de Modern Warfare presenta el característico combate intenso de Call of Duty,
			a la vez que presenta nuevos tipos de juegos y experiencias de partidas Tiroteo 2v2 a más de 100 
			jugadores en Ground War. Al deshacerse del combate basado en clases de títulos anteriores, el juego 
			tiene como objetivo acomodar todos los estilos de juego al proporcionar más opciones de personalización 
			a los jugadores, presentando un aumento profundo de armas y reemplazando a Especialistas con Operadores. Modern Warfare es también el primer juego de la franquicia que presenta crossplay en consolas y PC.</p>
		<div class="item-details d-flex bd-highlight">
			<h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
			<button class="item-button btn btn-primary addToCart mx-5 p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
		</div>
	</div>
</div>
<div class="col-30 col-md-15">
	<div class="item shadow mb-4">
		<h3 class="item-title text-white">CS-GO</h3>
		<img class="item-image vh-100 vw-100" src="/img/pc/CS-GO.jpg">
		<p class="text-white px-5 pt-5">Es un juego de disparos donde una persona juego con otras que puede ser online o con bots , lo que sea 
			mas faborable para ti.<br>
			Hay varios tipos de juegos , pero lo frecuente es de 5 contra 5 donde tu escoges un
			arma y median vas ganando o matando mas personas te dan dinero para que escogas variedades de armamento
			y mejorarte , el que tenga mas rondas ganadas . Gana . <br>
			El 23 de agosto de 2012 se lanzó la noticia de Steam de que ya se podía adquirir el juego por medio de Internet para PC,
			PlayStation 3 y Xbox 360. El juego está centrado sobre todo en el modo competitivo. Los torneos más importantes de videojuegos
			de acción en primera persona como la ESWC y la Copenhague Games aceptaron a CS:GO como nuevo juego.</p>
		<div class="item-details d-flex bd-highlight">
			<h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
			<button class="item-button btn btn-primary addToCart mx-5 p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
		</div>
	</div>
</div>

<div class="col-30 col-md-15">
	<div class="item shadow mb-4">
		<h3 class="item-title text-white">HALO</h3>
		<img class="item-image vh-100 vw-100" src="/img/pc/halo.jpg">
		<p class="text-white px-5 pt-5">Es un videojuego táctico de disparos en tercera persona/RPG de acción táctico de Square Enix.<br>
			Es la tercera entrega de la serie de Parasite Eve (tuvo que cambiar el título debido a la no renovación 
			de la licencia Parasite Eve) publicada tras Parasite Eve II, que fue publicado en 2000. <br>
			El juego tiene lugar en la isla de Manhattan, en Nueva York. El jugador asume el rol de Aya Brea, y deberá 
			luchar contra unas criaturas misteriosas llamadas "Twisted" que amenazan a la ciudad.</p>
		<div class="item-details d-flex bd-highlight">
			<h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
			<button class="item-button btn btn-primary addToCart mx-5 p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
		</div>
	</div>
</div>

<%- include("template/carrito") %>
<%- include("template/footer") %>