<%- include("template/cabecera", {tituloWeb: "PS4"}) %>
<script src="https://www.paypal.com/sdk/js?client-id=test&currency=EUR"></script>
<div class="col-30 col-md-15 pt-5">
	<div class="item shadow mb-4">
		<h3 class="item-title text-white">The last of us</h3>
		<img class="item-image vh-100 vw-100" src="/img/ps4/fondo11.jpg">
		<p class="text-white px-5 pt-5">De acuerdo con la trama de The Last of Us, en septiembre de 2013 se desata
		una pandemia en Estados Unidos ocasionada por una cepa del hongo Cordyceps, 
		que al infectar a los humanos los convierte en criaturas caníbales, y que se 
		transmite a través de una simple mordedura.</p>
		<div class="item-details d-flex bd-highlight">
			<h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
			<button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
		</div>
	</div>
</div>

<div class="col-30 col-md-15">
	<div class="item shadow mb-4">
		<h3 class="item-title text-white">God of War</h3>
		<img class="item-image vh-100 vw-100" src="/img/ps4/fondo5.jpg">
		<p class="text-white px-5 pt-5">Han pasado años desde que Kratos tomó su venganza contra los Dioses Olímpicos. 
			Habiendo sobrevivido la pelea final contra su padre Zeus, Kratos vive ahora con 
			su joven hijo Atreus en el mundo de los Dioses Nórdicos, una tierra hostil habitada 
			por feroces monstruos y guerreros.</p>
		<div class="item-details d-flex bd-highlight">
			<h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
			<button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
		</div>
	</div>
</div>

<div class="col-30 col-md-15">
	<div class="item shadow mb-4">
		<h3 class="item-title text-white">Horizon Zero Dawn</h3>
		<img class="item-image vh-100 vw-100" src="/img/ps4/fondo7.jpg">
		<p class="text-white px-5 pt-5">es un videojuego de rol con elementos de acción y aventura en tercera persona. 
		El juego se ambienta en un mundo post-apocalíptico donde reina la naturaleza, las zonas rurales, zonas montañosas y los bosques. Cuenta con un ciclo diurno y nocturno, 
		además de un sistema meteorológico dinámico.</p>
		<div class="item-details d-flex bd-highlight">
			<h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
			<button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
		</div>
	</div>
</div>

<div class="col-30 col-md-15">
	<div class="item shadow mb-4">
		<h3 class="item-title text-white">The Witcher</h3>
		<img class="item-image vh-100 vw-100" src="/img/ps4/fondo15.jpg">
		<p class="text-white px-5 pt-5">Geralt de Rivia es un brujo, mutado durante su infancia para ser más efectivo en su
			labor, matar monstruos por dinero. ... Debido al destino, Geralt y Ciri están unidos 
			para siempre desde antes del nacimiento de esta. Durante sus viajes Geralt conoce a 
			Jaskier, un trovador demasiado hablador, y a Yennefer, una hechicera.</p>
		<div class="item-details d-flex bd-highlight">
			<h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
			<button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
		</div>
	</div>
</div>

<div class="col-30 col-md-15">
	<div class="item shadow mb-4">
		<h3 class="item-title text-white">GRAND THEFT AUTO V</h3>
		<img class="item-image vh-100 vw-100" src="/img/ps4/gta5.jpg">
		<p class="text-white px-5 pt-5">Se trata de una serie de 4 personas donde debes realizar misiones como criminales 
            y cosas inexplicables en el largo del juego . <br>
            Es un mapa libre y grande donde encuentras diferentes eventos raros , extraños , sexuales , etc.
            Tambien esta la opcion online donde puedes jugar con tus amigos de la vida real y hacer misiones juntos
            he matanzas . <br>
            Plataformas: Xbox 360 · PlayStation 3 · Microsoft Windows · PlayStation 4 · Xbox One · PlayStation 5 · 
            Xbox Series X y Series S . </p>
		<div class="item-details d-flex bd-highlight">
			<h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
			<button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
		</div>
	</div>
</div>

<div class="col-30 col-md-15">
	<div class="item shadow mb-4">
		<h3 class="item-title text-white">SPYDER-MAN (Miles Morales)</h3>
		<img class="item-image vh-100 vw-100" src="/img/ps4/miles.jpg">
		<p class="text-white px-5 pt-5">Miles Morales es un personaje ficticio que aparece en las historietas publicadas por Marvel Comics, 
            como uno de los personajes conocidos como Spider-Man. Fue creado por el escritor Brian Michael Bendis
             y la artista Sara Pichelli, aunque también los editores de Ultimate Marvel y el redactor jefe Axel
              Alonso fueron inspirados por una serie de ideas, tales como la elección del presidente de EE.UU. 
              Barack Obama y la aparición del actor afroamericano Donald Glover vestido con un traje de Spider-Man.</p>
		<div class="item-details d-flex bd-highlight">
			<h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
			<button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
		</div>
	</div>
</div>

<div class="col-30 col-md-15">
	<div class="item shadow mb-4">
		<h3 class="item-title text-white">SPYDER-MAN</h3>
		<img class="item-image vh-100 vw-100" src="/img/ps4/SPIDER MAN.jpeg">
		<p class="text-white px-5 pt-5">Este no es el Spider-Man que ya conoces o que has visto antes. En Marvel's Spider-Man Remasterizado,
            nos encontramos con un Peter Parker experimentado en luchar contra el crimen organizado en la ciudad 
            de Nueva York. La aparición de un nuevo villano en la ciudad de Nueva York de Marvel hace chocar los 
            mundos de Peter Parker y Spider-Man. Ahora deberá alzarse y demostrar su grandeza para salvar la ciudad y a sus seres queridos</p>
		<div class="item-details d-flex bd-highlight">
			<h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
			<button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
		</div>
	</div>
</div>

<div class="col-30 col-md-15">
	<div class="item shadow mb-4">
		<h3 class="item-title text-white">HOGWARTS LEGACY</h3>
		<img class="item-image vh-100 vw-100" src="/img/ps4/hogwarts.jpg">
		<p class="text-white px-5 pt-5">Embárcate en un viaje para explorar lugares nuevos y familiares, descubre animales fantásticos, personaliza
            a tu personaje, prepara pociones, domina hechizos, mejora tus talentos y conviértete en el mago o la bruja
            que quieres ser. Experimenta el Hogwarts del siglo XIX.<br>		
            Plataforma(s): PlayStation 4, PlayStation 5, Xbox One, Xbox Series X|S, Microsoft Windows</p>
		<div class="item-details d-flex bd-highlight">
			<h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
			<button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
		</div>
	</div>
</div>

<div class="col-30 col-md-15">
	<div class="item shadow mb-4">
		<h3 class="item-title text-white">FORTNITE</h3>
		<img class="item-image vh-100 vw-100" src="/img/ps4/fortnite.jpg">
		<p class="text-white px-5 pt-5">Fortnite es el juego multijugador completamente gratuito en el que tus amigos y tú colaboraréis para crear 
            un mundo de ensueño o lucharéis para ser los últimos en pie. Jugad a Battle Royale y al modo Creativo GRATIS.
             Descargarlo ya y lanzate a la acción.<br>
             Fortnite está disponible para todas las plataformas que te imagines: PC, Mac, Playstation, Xbox, Nintendo 
             Switch y móvil, iOS y Android.</p>
		<div class="item-details d-flex bd-highlight">
			<h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
			<button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
		</div>
	</div>
</div>

<%- include("template/carrito") %>
<%- include("template/footer") %>