<%- include("template/cabecera", {tituloWeb: "Categorias"}) %>

<div class="pt-5">
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/qPNiIeKMHyg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>

<div>
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/AN3jEjjcZ-k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>
<div>
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/_BvZvkT5QHw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>
<div>
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/c0i88t0Kacs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/QkkoHAzjnUs?start=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/NTunTURbyUU?start=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/q4GdJVvdxss?start=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/1O6Qstncpnc?start=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/rBlzhiJtaHA?start=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>