<%- include("template/cabecera", {tituloWeb: "Categorias"}) %>

<div class="pt-5">
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/fcBqp5D2mkw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/AN3jEjjcZ-k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>
<div>
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/D73kH6w1_Xw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>
<div>
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/4UwkS8ODFv0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/7O21Z6vgtmY?start=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/FKJuOZS_P1U?start=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>