<%- include("template/cabecera", {tituloWeb: "Categorias"}) %>

<div class="pt-5">
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/jfhRxbCL9eE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></div>

<div>
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/jVwfoDTqQek" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/MgZBEtJpbdM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/uu5mCXFHI0E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/HfaGBwedwso?start=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/6TXx0guC5zE?start=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/u3zIzY6M3fQ?start=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>