<%- include("template/cabecera", {tituloWeb: "Categorias"}) %>

<div class="pt-5">
    <iframe  class="vh-100 w-100" src="https://www.youtube.com/embed/K78U0I4l7R0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div>
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/btFclZUXpzA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div>
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/MlX3kh1Y7Cg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div>
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/0E44DClsX5Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/edYCtaNueQY?start=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div>
    <iframe class="vh-100 w-100" src="https://www.youtube.com/embed/F1J3z_2Uep8?start=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>